<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >
<web-app>
  <servlet>
    <servlet-name>spring-ybtfl</servlet-name>
    <servlet-class>com.spring.ybtfl.servlet.XDispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <!--you can't use classpath*: -->
      <param-value>application.properties</param-value>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>spring-ybtfl</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>

</web-app>
